.icon{
	display: inline-flex;
	align-items: center;
	justify-content: center;

	&.icon-dash-long{
		width: 45px;
		height: 1px;
		background: #e5e8ee;
	}

	&.icon-peoples{
		width: 24px;
		height: 24px;
		background: url(../img/icons/icons-sprite.png) no-repeat -105px -146px;
	}

	&.icon-logo-circle{
		width: 24px;
		height: 24px;
		background: url(../img/icons/icons-sprite.png) no-repeat 0 -147px;
	}

	&.icon-headphones{
		width: 24px;
		height: 24px;
		background: url(../img/icons/icons-sprite.png) no-repeat -205px -23px;
	}

	&.icon-chat-bubble{
		width: 77px;
		height: 77px;
		background: url(../img/icons/icons-sprite.png) no-repeat 0 -5px;
	}

	&.icon-hand-with-phone{
		width: 35px;
		height: 47px;
		background: url(../img/icons/icons-sprite.png) no-repeat -169px -20px;
	}

	&.icon-document-check{
		width: 16px;
		height: 16px;
		background: url(../img/icons/icons-sprite.png) no-repeat -94px 0;
	}

	&.icon-phone{
		width: 14px;
		height: 14px;
		background: url(../img/icons/icons-sprite.png) no-repeat -105px -170px;
	}

	&.icon-phone-big{
		width: 24px;
		height: 24px;
		background: url(../img/icons/icons-sprite.png) no-repeat -130px -147px;
	}

	&.icon-envelope{
		width: 14px;
		height: 14px;
		background: url(../img/icons/icons-sprite.png) no-repeat -79px -65px;
	}

	&.icon-vk{
		width: 16px;
		height: 9px;
		background: url(../img/icons/icons-sprite.png) no-repeat -196px 0;
	}

	&.icon-instagram{
		width: 16px;
		height: 16px;
		background: url(../img/icons/icons-sprite.png) no-repeat -179px 0;
	}

	&.icon-facebook{
		width: 8px;
		height: 14px;
		background: url(../img/icons/icons-sprite.png) no-repeat -169px 0;
	}

	&.icon-youtube{
		width: 16px;
		height: 11px;
		background: url(../img/icons/icons-sprite.png) no-repeat -214px 0;
	}

	&.icon-download{
		width: 28px;
		height: 32px;
		background: url(../img/icons/icons-sprite.png) no-repeat -119px -46px;
	}

	&.icon-check-circle-orange{
		width: 16px;
		height: 16px;
		background: url(../img/icons/icons-sprite.png) no-repeat -77px 0;
	}

	&.icon-headphones-dark{
		width: 45px;
		height: 44px;
		background: url(../img/icons/icons-sprite.png) no-repeat -229px -23px;
	}

	&.icon-mobile-phone{
		width: 25px;
		height: 45px;
		background: url(../img/icons/icons-sprite.png) no-repeat -79px -147px;
	}

	&.icon-desktop{
		width: 45px;
		height: 45px;
		background: url(../img/icons/icons-sprite.png) no-repeat -123px 0;
	}

	&.icon-close{
		width: 45px;
		height: 45px;
		background: url(../img/icons/icons-sprite.png) no-repeat -77px -18px;
	}
}