@font-face {
	font-family: 'Formular';
	src: url('../fonts/formular-regular/Formular.ttf') format('truetype'),
		url('../fonts/formular-regular/Formular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Formular';
	src: url('../fonts/formular-bold/Formular-Bold.ttf') format('truetype'),
		url('../fonts/formular-bold/Formular-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}