.file-link{
	display: flex;
	align-items: center;
	color: $text-dark;
	text-decoration: underline;

	&:hover{
		text-decoration: none;
	}

	&:before{
		content: '';
		display: none;
		width: 56px;
		height: 64px;
		margin-right: 25px;
	}

	&[href$=".doc"],
	&[href$=".docx"]{
		&:before{
			display: block;
			background: url(../img/icons/doc.png) no-repeat center center;
		}
	}

	&[href$=".pdf"]{
		&:before{
			display: block;
			background: url(../img/icons/pdf.png) no-repeat center center;
		}
	}

	&[href$=".jpg"],
	&[href$=".jpeg"]{
		&:before{
			display: block;
			background: url(../img/icons/jpg.png) no-repeat center center;
		}
	}

	&[href$=".xls"],
	&[href$=".xlsx"]{
		&:before{
			display: block;
			background: url(../img/icons/xls.png) no-repeat center center;
		}
	}

	&[href$=".txt"]{
		&:before{
			display: block;
			background: url(../img/icons/txt.png) no-repeat center center;
		}
	}
}