.socials-list{
	list-style: none;
	display: flex;
	align-items: center;

	li{
		margin-right: 6px;

		&:last-child{
			margin-right: 0;
		}

		a{
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			width: 36px;
			height: 36px;
			background: #10409f;
			border: 1px solid #10409f;

			&:hover{
				border-color: rgba(#fff, .5);
				background: transparent;
			}
		}
	}
}