.tabs-nav{
	border: 1px solid #e2e8f6;
	border-radius: $r;
	position: relative;
	display: inline-flex;
	margin-bottom: 60px;
	overflow: hidden;

	> .item{
		font-size: 15px;
		line-height: 22px;
		color: $text-dark;
		font-weight: bold;
		text-align: center;
		padding: 8px 30px;
		cursor: pointer;
		transition: all $t;
		position: relative;
		z-index: 2;
		border-right: 1px solid #e2e8f6;
		margin-right: -1px;

		&:last-child{
			border-right: 0;
			margin-right: 0;
		}

		&.current{
			color: #fff;
			cursor: default;
			background: $primary;
			box-shadow: 3px 3px 10px rgba($darkblue, .23);
			border-color: transparent !important;
		}
	}

	@media screen and (max-width: 575px){
		&.flex-column{
			> .item{
				border-right: 0;
				margin-right: 0;
				border-bottom: 1px solid #e2e8f6;
				margin-bottom: -1px;

				&:last-child{
					border-bottom: 0;
					margin-bottom: 0;
				}
			}
		}
	}
}