.features-section{
	padding: 70px 0 0;
	background: url(../img/backgrounds/triangle-network.png) no-repeat center 60%;
	margin-bottom: 55px;
	background-attachment: fixed;
	position: relative;

	&:after{
		content: '';
		display: block;
		width: 100%;
		height: 70px;
		background: linear-gradient(to bottom, rgba($body-bg, 0) 0%, $body-bg 100%);
		position: absolute;
		bottom: 0;
		left: 0;
	}

	> .container{
		position: relative;
		z-index: 2;
	}

	@media screen and (max-width: 767px){
		margin-bottom: 40px;
	}
}

.features-slider{
	width: calc(100% + 30px);
	margin-left: -15px;
	margin-right: -15px;

	.slide{
		padding: 0 15px 15px;
		height: 100%;
		position: relative;
		outline: none;
	}

	@media screen and (max-width: 991px){
		.slick-arrow{
			top: 140px;
		}
	}

	@media screen and (max-width: 767px){
		width: 100%;
		max-width: 350px;
		margin: 0 auto;

		.slick-dots{
			bottom: auto;
			top: 295px;
		}
	}

	@media screen and (max-width: 575px){
		.slick-arrow{
			top: 117px;
		}

		.slick-dots{
			top: 247px;
		}
	}
}