.opportunities-section{
	padding: 100px 0 110px;
	background: url(../img/backgrounds/opportunities-section-bg.png) no-repeat right 57%;

	@media screen and (max-width: 991px){
		background: none;
	}

	@media screen and (max-width: 767px){
		padding: 80px 0;
	}
}