.reviews-section{
	padding: 55px 0 30px;
}

.reviews-slider{
	width: calc(100% + 30px);
	margin-left: -15px;
	margin-right: -15px;

	.slide{
		padding: 0 15px 15px;
	}

	@media screen and (max-width: 767px){
		.slick-dots{
			bottom: 35px;
		}
	}
}