.reviews-section{
	padding: 55px 0 30px;
}

.reviews-slider{
	.slide{
		padding: 0 15px 15px;
		outline: none !important;
	}

	.slick-arrow{
		&:before{
			content: '';
			display: block;
			opacity: 1;
			width: 18px;
			height: 32px;
			background: url(../img/icons/slider-arrows.png) no-repeat;
			transition: all $t;
		}

		&:hover{
			&:before{
				opacity: .8;
			}
		}

		&.slick-prev{
			&:before{
				background-position: left center;
			}
		}

		&.slick-next{
			&:before{
				background-position: right center;
			}
		}
	}
}