.about-company-block{
	display: flex;
	align-items: flex-start;
	margin-bottom: 55px;

	.block-image{
		width: 40.6%;
		flex: none;
		min-width: 410px;
	}

	.block-content{
		flex: auto;
		padding-left: 45px;
		padding-right: 20px;
	}

	@media screen and (max-width: 991px){
		flex-direction: column;

		.block-image{
			width: 100%;
			min-width: 0;
			padding-left: 0;

			&:before{
				left: -8px;
			}
		}

		.block-content{
			padding-left: 0;
			padding-right: 0;
			padding-top: 30px;
		}
	}
}