.stats-card{
	position: relative;
	padding: 22px 30px 22px 40px;
	border-right: 3px solid #edf1fb;
	border-bottom: 3px solid #edf1fb;
	overflow: hidden;

	.stats-bg{
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}

	.card-content{
		text-align: center;

		.stats-value{
			font-size: 18px;
			line-height: 34px;
			color: $primary;
			font-weight: bold;
			margin-bottom: 5px;
			display: inline-flex;
			align-items: baseline;

			> span{
				font-size: 32px;

				&:first-child{
					margin-right: 6px;
				}

				&:last-child{
					margin-left: 6px;
				}
			}
		}
	}

	@media screen and (max-width: 767px){
		padding: 22px 25px 22px 35px;
	}
}